<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>

{% include 'sections/navigation.twig' %}
<div class="container">
{% block body %}{% endblock %}
</div>

<footer class="footer p-3 bg-light mt-3">
    <div class="container">
        <p class="text-muted">(C) {{ "now"|date('Y') }}</p>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"/>
</body>
</html>