{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img class="img-fluid" src="https://dummyimage.com/1200x400/5b76ba/ffffff" alt="...">
        <h1 class="mt-3 mb-3">{{ slug }}</h1>
        <div class="container-fluid mb-3">
            <div class="row">
                <p class="text-muted">Автор | Дата</p>
            </div>
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at blanditiis consequatur deserunt
            dolorem eligendi et eveniet ipsam quos voluptatum? Consequatur facilis fugiat id impedit ipsum optio quo
            unde vitae?
        </div>
    </div>
{% endblock %}